<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<main class="mainCon">
		<div class="mainBox">
			<form class="signupForm" action="/oauth2/signup" method="post">
			<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
			<input type="hidden" id="principal" th:value="${principal}"/>
				<table>
					<tr  th:if="${principal != null && principal.getUsername()=='none'}">
						<th>
							<label for="member_email">이메일</label>
						</th>
						<td>
							<input type="email" id="member_email" name="member_email">
						</td>
					</tr>
					<tr>
						<th>
							<label for="birth">생일</label>
						</th>
						<td>
							<input type="date" id="birth" name="member_birth" required="required">
						</td>
					</tr>
					<tr>
						<th>
							<label for="phone">휴대폰 번호</label>
						</th>
						<td>
							<input type="text" id="phone" name="member_phone" placeholder="-빼고 입력하세요" required="required"> 
						</td>					
					</tr>
					<tr>
						<th>성별</th>
						<td>
							<input type="radio" id="male" name="member_gender" value="M" checked="checked">
							<label for="male">남자</label>
							<input type="radio" id="female" name="member_zzgender" value="W">
							<label for="female">여자</label>
						</td>
					</tr>
				</table>
				<button type="submit">회원가입</button>
			</form>
		</div>
	</main>
	<script>
	$(function(){
		$(document).ready(function(){
			const principal = $("#principal").val();
			console.log(principal);
			if(principal == null || principal == ""){
				alert("권한이 없습니다.");
				location.href="/member/login";
			}
		});
	});
	</script>
</body>
</html>