<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- <title>Insert title here</title> -->
<link rel="stylesheet" type="text/css" href="/css/layout.css"> 
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<header th:replace="~{/fragments/header :: headerLayout}"></header>
	
	
	<script th:if="${result} == 1">
		alert('가입이 완료되었습니다.');
	</script>
</body>
</html>