<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="mainCon">
		<div class="mainBox">
			<form class="signupForm" action="/oauth2/signup" method="post">
				<table>
					<tr>
						<th>
							<label for="id">ID</label>
						</th>
						<td>
							<input type="text" id="id" name="member_userid" placeholder="아이디를 입력해주세요" required="required">
						</td>
					</tr>
					<tr>
						<th>
							<label for="birth">생일</label>
						</th>
						<td>
							<input type="date" id="birth" name="member_birth" required="required">
						</td>
					</tr>
					<tr>
						<th>
							<label for="phone">휴대폰 번호</label>
						</th>
						<td>
							<input type="text" id="phone" name="member_phone" placeholder="-빼고 입력하세요" required="required"> 
						</td>					
					</tr>
					<tr>
						<th>성별</th>
						<td>
							<input type="radio" id="male" name="member_gender" value="M" checked="checked">
							<label for="male">남자</label>
							<input type="radio" id="female" name="member_gender" value="W">
							<label for="female">여자</label>
						</td>
					</tr>
				</table>
				<button type="submit">회원가입</button>
			</form>
		</div>
	</main>
</body>
</html>